*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.form-login {
    width: 400px;
    height:340px;
    background-color: rgb(209, 180, 15);
    margin: auto;
    margin-top: 180px;
    box-shadow: 7px 13 px 38px #000;
    padding: 20px 30px 30px;
    border-top: 4px solid blue;
    color: white;
}

body{
    font-family: arial;
    background-image: url(video_mensaje_1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    background-color: blue;
}

.form-login h5{
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font: size 100px;
}

.form-control {
    width: 100%;
    border: 1px solid blue;
    margin-bottom: 15px;
    padding:11px 10px;
    background: gainsboro;
    font-size: 14px;
    font-weight: bold;
}

.button {
    width: 100%;
    height:40px;
    background: rgb(110, 110, 218);
    border: none;
    color: white;
    margin-bottom: 16px;
}

.form-login p{
    height:40px;
    text-align: center;
    border-bottom: 1px solid;
}

.form-login a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.form-login a:hover{
    text-decoration: underline;
}